# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData/
.idea/
Tests/Pods
Tests/Podfile.lock
Tests/AFNetworking Tests.xcodeproj/xcshareddata/xcschemes/
AFNetworking.framework.zip

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.moved-aside
*.xccheckout
*.xcscmblueprint

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

#wallet
Connect/Support/Allkey
Connect/Support/include
Connect/Support/include1
#test
Connect.IMUITests
ConnectTests
ConnectUITests
#pod
Pods/

Carthage/Build

