<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Connect </string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Connect.IM</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>im.connect.transfer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>connectim</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>398</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Connect希望访问你的相机</string>
	<key>NSContactsUsageDescription</key>
	<string>Connect希望访问你的通讯录</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Connect希望获取你的位置</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Connect希望访问你的麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Connect希望访问你的相册</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>app_3d_ transfer</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>translationKey</string>
			<key>UIApplicationShortcutItemType</key>
			<string>transfer</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>app_3d_ collection</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>paymentKey</string>
			<key>UIApplicationShortcutItemType</key>
			<string>collection</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>app_3d_ scan</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>scanKey</string>
			<key>UIApplicationShortcutItemType</key>
			<string>scanQrcode</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
