<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>[Archery@2x]</key>
<string>activities_0</string>
<key>[Art@2x]</key>
<string>activities_1</string>
<key>[Award@2x]</key>
<string>activities_2</string>
<key>[Backpacking@2x]</key>
<string>activities_3</string>
<key>[Baseball@2x]</key>
<string>activities_4</string>
<key>[Basketball@2x]</key>
<string>activities_5</string>
<key>[BBQ@2x]</key>
<string>activities_6</string>
<key>[Bowling@2x]</key>
<string>activities_7</string>
<key>[Boxing@2x]</key>
<string>activities_8</string>
<key>[Campfire@2x]</key>
<string>activities_9</string>
<key>[Camping@2x]</key>
<string>activities_10</string>
<key>[Cards@2x]</key>
<string>activities_11</string>
<key>[Cricket@2x]</key>
<string>activities_12</string>
<key>[Dancing@2x]</key>
<string>activities_13</string>
<key>[DiscGolf@2x]</key>
<string>activities_14</string>
<key>[Finish@2x]</key>
<string>activities_15</string>
<key>[Fishing@2x]</key>
<string>activities_16</string>
<key>[Football@2x]</key>
<string>activities_17</string>
<key>[Gardening@2x]</key>
<string>activities_18</string>
<key>[Golf@2x]</key>
<string>activities_19</string>
<key>[Guitar@2x]</key>
<string>activities_20</string>
<key>[Hockey@2x]</key>
<string>activities_21</string>
<key>[Hottubbing@2x]</key>
<string>activities_22</string>
<key>[Jetskiing@2x]</key>
<string>activities_23</string>
<key>[Karate@2x]</key>
<string>activities_24</string>
<key>[Kayaking@2x]</key>
<string>activities_25</string>
<key>[Lacrosse@2x]</key>
<string>activities_26</string>
<key>[Manicure@2x]</key>
<string>activities_27</string>
<key>[Massage@2x]</key>
<string>activities_28</string>
<key>[MountainClimbing@2x]</key>
<string>activities_29</string>
<key>[Paddleboarding@2x]</key>
<string>activities_30</string>
<key>[PingPong@2x]</key>
<string>activities_31</string>
<key>[Running@2x]</key>
<string>activities_32</string>
<key>[Showering@2x]</key>
<string>activities_33</string>
<key>[Skateboarding@2x]</key>
<string>activities_34</string>
<key>[Skiing@2x]</key>
<string>activities_35</string>
<key>[Snorkeling@2x]</key>
<string>activities_36</string>
<key>[Snowboarding@2x]</key>
<string>activities_37</string>
<key>[Soccer@2x]</key>
<string>activities_38</string>
<key>[Sunbathing@2x]</key>
<string>activities_39</string>
<key>[Surfing2@2x]</key>
<string>activities_40</string>
<key>[Surfing@2x]</key>
<string>activities_41</string>
<key>[Swimming@2x]</key>
<string>activities_42</string>
<key>[Tennis@2x]</key>
<string>activities_43</string>
<key>[Trophy@2x]</key>
<string>activities_44</string>
<key>[Volleyball@2x]</key>
<string>activities_45</string>
<key>[Volunteering@2x]</key>
<string>activities_46</string>
<key>[WeightLifting@2x]</key>
<string>activities_47</string>
<key>[Yoga@2x]</key>
<string>activities_48</string>
</dict>
</plist>
