<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>[Bear]</key>
            <string>animal_0</string>
        </dict>
        
        <dict>
            <key>[Bull]</key>
            <string>animal_1</string>
        </dict>
        
        <dict>
            <key>[Chameleon]</key>
            <string>animal_2</string>
        </dict>
        
        <dict>
            <key>[Chick]</key>
            <string>animal_3</string>
        </dict>
        
        <dict>
            <key>[Corgie]</key>
            <string>animal_4</string>
        </dict>
        
        <dict>
            <key>[Crab]</key>
            <string>animal_5</string>
        </dict>
        
        <dict>
            <key>[Deer]</key>
            <string>animal_6</string>
        </dict>
        
        <dict>
            <key>[Dinosaur]</key>
            <string>animal_7</string>
        </dict>
        
        <dict>
            <key>[Dolphin]</key>
            <string>animal_8</string>
        </dict>
        
        <dict>
            <key>[Donkey]</key>
            <string>animal_9</string>
        </dict>
        
        <dict>
            <key>[Dragon]</key>
            <string>animal_10</string>
        </dict>
        
        <dict>
            <key>[Eagle]</key>
            <string>animal_11</string>
        </dict>
        
        <dict>
            <key>[Elephant]</key>
            <string>animal_12</string>
        </dict>
        
        <dict>
            <key>[Fish]</key>
            <string>animal_13</string>
        </dict>
        
        <dict>
            <key>[Fox]</key>
            <string>animal_14</string>
        </dict>
        
        <dict>
            <key>[Giraffe]</key>
            <string>animal_15</string>
        </dict>
        
        <dict>
            <key>[Gorilla]</key>
            <string>animal_16</string>
        </dict>
        
        <dict>
            <key>[GrumpyCat]</key>
            <string>animal_17</string>
        </dict>
        
        <dict>
            <key>[Hippo]</key>
            <string>animal_18</string>
        </dict>
        
        <dict>
            <key>[Horse]</key>
            <string>animal_19</string>
        </dict>
        
        <dict>
            <key>[Koala]</key>
            <string>animal_20</string>
        </dict>
        
        <dict>
            <key>[Lion]</key>
            <string>animal_21</string>
        </dict>
        
        <dict>
            <key>[Llama]</key>
            <string>animal_22</string>
        </dict>
        
        <dict>
            <key>[LuckyCat]</key>
            <string>animal_23</string>
        </dict>
        
        <dict>
            <key>[Mouse]</key>
            <string>animal_24</string>
        </dict>
        
        <dict>
            <key>[Octopus]</key>
            <string>animal_25</string>
        </dict>
        
        <dict>
            <key>[Owl]</key>
            <string>animal_26</string>
        </dict>
        
        <dict>
            <key>[Panda]</key>
            <string>animal_27</string>
        </dict>
        
        <dict>
            <key>[Penguin]</key>
            <string>animal_28</string>
        </dict>
        
        <dict>
            <key>[Pig]</key>
            <string>animal_29</string>
        </dict>
        
        <dict>
            <key>[PolarBear]</key>
            <string>animal_30</string>
        </dict>
        
        <dict>
            <key>[Rabbit]</key>
            <string>animal_31</string>
        </dict>
        
        <dict>
            <key>[Rhino]</key>
            <string>animal_32</string>
        </dict>
        
        <dict>
            <key>[Shark]</key>
            <string>animal_33</string>
        </dict>
        
        <dict>
            <key>[SharkFin]</key>
            <string>animal_34</string>
        </dict>
        
        <dict>
            <key>[Sloth]</key>
            <string>animal_35</string>
        </dict>
        
        <dict>
            <key>[Snake]</key>
            <string>animal_36</string>
        </dict>
        
        <dict>
            <key>[Troll]</key>
            <string>animal_37</string>
        </dict>
        
        <dict>
            <key>[Turkey]</key>
            <string>animal_38</string>
        </dict>
        
        <dict>
            <key>[Turtle]</key>
            <string>animal_39</string>
        </dict>
        
        <dict>
            <key>[Unicorn]</key>
            <string>animal_40</string>
        </dict>
        
        <dict>
            <key>[Whale]</key>
            <string>animal_41</string>
        </dict>
    </array>
</plist>
