<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>[Apple@2x]</key>
<string>food_0</string>
<key>[Avocado@2x]</key>
<string>food_1</string>
<key>[BabyBottle@2x]</key>
<string>food_2</string>
<key>[Bacon@2x]</key>
<string>food_3</string>
<key>[Bagel@2x]</key>
<string>food_4</string>
<key>[Banana@2x]</key>
<string>food_5</string>
<key>[BeerCan@2x]</key>
<string>food_6</string>
<key>[BeerPong@2x]</key>
<string>food_7</string>
<key>[BloodyMary@2x]</key>
<string>food_8</string>
<key>[Blueberries@2x]</key>
<string>food_9</string>
<key>[BobaTea@2x]</key>
<string>food_10</string>
<key>[Broccoli@2x]</key>
<string>food_11</string>
<key>[Burger@2x]</key>
<string>food_12</string>
<key>[Burrito@2x]</key>
<string>food_13</string>
<key>[Carrot@2x]</key>
<string>food_14</string>
<key>[Champagne@2x]</key>
<string>food_15</string>
<key>[CheersBeer@2x]</key>
<string>food_16</string>
<key>[CheersBeerBottles@2x]</key>
<string>food_17</string>
<key>[CheersChampagne@2x]</key>
<string>food_18</string>
<key>[CheersMixDrink@2x]</key>
<string>food_19</string>
<key>[Cheese@2x]</key>
<string>food_20</string>
<key>[Chemex@2x]</key>
<string>food_21</string>
<key>[Chicken@2x]</key>
<string>food_22</string>
<key>[ChineseTakeoutBox@2x]</key>
<string>food_23</string>
<key>[ChocolateBar@2x]</key>
<string>food_24</string>
<key>[ChocolateDippedStrawberry@2x]</key>
<string>food_25</string>
<key>[CoconutDrink@2x]</key>
<string>food_26</string>
<key>[Coffee@2x]</key>
<string>food_27</string>
<key>[CoffeeToGo@2x]</key>
<string>food_28</string>
<key>[Cookie@2x]</key>
<string>food_29</string>
<key>[Corn@2x]</key>
<string>food_30</string>
<key>[CraftBeer@2x]</key>
<string>food_31</string>
<key>[Cupcake@2x]</key>
<string>food_32</string>
<key>[Donut@2x]</key>
<string>food_33</string>
<key>[EnergyDrink@2x]</key>
<string>food_34</string>
<key>[Frappuccino@2x]</key>
<string>food_35</string>
<key>[FrenchPress@2x]</key>
<string>food_36</string>
<key>[FriedEgg@2x]</key>
<string>food_37</string>
<key>[Grapes@2x]</key>
<string>food_38</string>
<key>[GreenBeans@2x]</key>
<string>food_39</string>
<key>[GreenPepper@2x]</key>
<string>food_40</string>
<key>[Hotdog@2x]</key>
<string>food_41</string>
<key>[HotSauce@2x]</key>
<string>food_42</string>
<key>[IceCream]</key>
<string>food_43</string>
<key>[Jager@2x]</key>
<string>food_44</string>
<key>[Kale@2x]</key>
<string>food_45</string>
<key>[Keg@2x]</key>
<string>food_46</string>
<key>[Lobster@2x]</key>
<string>food_47</string>
<key>[Martini@2x]</key>
<string>food_48</string>
<key>[MilkShake@2x]</key>
<string>food_49</string>
<key>[Mimosa@2x]</key>
<string>food_50</string>
<key>[Orange@2x]</key>
<string>food_51</string>
<key>[Pepper@2x]</key>
<string>food_52</string>
<key>[Pint@2x]</key>
<string>food_53</string>
<key>[Pizza@2x]</key>
<string>food_54</string>
<key>[PlasticWaterBottle@2x]</key>
<string>food_55</string>
<key>[PopChampagneBottle@2x]</key>
<string>food_56</string>
<key>[Popsicle@2x]</key>
<string>food_57</string>
<key>[ProteinShake@2x]</key>
<string>food_58</string>
<key>[RedWine@2x]</key>
<string>food_59</string>
<key>[RedWineGlass@2x]</key>
<string>food_60</string>
<key>[Sake@2x]</key>
<string>food_61</string>
<key>[Salad@2x]</key>
<string>food_62</string>
<key>[Salmon@2x]</key>
<string>food_63</string>
<key>[Sandwich@2x]</key>
<string>food_64</string>
<key>[Scotch@2x]</key>
<string>food_65</string>
<key>[SixPack@2x]</key>
<string>food_66</string>
<key>[Smoothie@2x]</key>
<string>food_67</string>
<key>[SoloCup@2x]</key>
<string>food_68</string>
<key>[Steak@2x]</key>
<string>food_69</string>
<key>[Strawberries@2x]</key>
<string>food_70</string>
<key>[Sushi@2x]</key>
<string>food_71</string>
<key>[Taco@2x]</key>
<string>food_72</string>
<key>[Tea@2x]</key>
<string>food_73</string>
<key>[Tequila@2x]</key>
<string>food_74</string>
<key>[ThanksgivingTurkey@2x]</key>
<string>food_75</string>
<key>[Tomato@2x]</key>
<string>food_76</string>
<key>[Vodka@2x]</key>
<string>food_77</string>
<key>[WaterBottle@2x]</key>
<string>food_78</string>
<key>[Watermelon@2x]</key>
<string>food_79</string>
<key>[Whiskey@2x]</key>
<string>food_80</string>
<key>[WhiteWine@2x]</key>
<string>food_81</string>
<key>[WhiteWineGlass@2x]</key>
<string>food_82</string>
<key>[WorkoutSupplement@2x]</key>
<string>food_83</string>
</dict>
</plist>
