<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>[DropsMic1@2x]</key>
<string>gestures_0</string>
<key>[DropsMic2@2x]</key>
<string>gestures_1</string>
<key>[DropsMic3@2x]</key>
<string>gestures_2</string>
<key>[FingersCrossed1@2x]</key>
<string>gestures_3</string>
<key>[FingersCrossed2@2x]</key>
<string>gestures_4</string>
<key>[FingersCrossed3@2x]</key>
<string>gestures_5</string>
<key>[FistBump1@2x]</key>
<string>gestures_6</string>
<key>[FistBump2@2x]</key>
<string>gestures_7</string>
<key>[FistBump3@2x]</key>
<string>gestures_8</string>
<key>[HandShake1@2x]</key>
<string>gestures_9</string>
<key>[HandShake2@2x]</key>
<string>gestures_10</string>
<key>[HandShake3@2x]</key>
<string>gestures_11</string>
<key>[HighFive1@2x]</key>
<string>gestures_12</string>
<key>[HighFive2@2x]</key>
<string>gestures_13</string>
<key>[HighFive3@2x]</key>
<string>gestures_14</string>
<key>[ILoveYou1@2x]</key>
<string>gestures_15</string>
<key>[ILoveYou2@2x]</key>
<string>gestures_16</string>
<key>[ILoveYou3@2x]</key>
<string>gestures_17</string>
<key>[MiddleFinger1@2x]</key>
<string>gestures_18</string>
<key>[MiddleFinger2@2x]</key>
<string>gestures_19</string>
<key>[MiddleFinger3@2x]</key>
<string>gestures_20</string>
<key>[PinkySwear1@2x]</key>
<string>gestures_21</string>
<key>[PinkySwear2@2x]</key>
<string>gestures_22</string>
<key>[PinkySwear3@2x]</key>
<string>gestures_23</string>
<key>[RockOn1@2x]</key>
<string>gestures_24</string>
<key>[RockOn2@2x]</key>
<string>gestures_25</string>
<key>[RockOn3@2x]</key>
<string>gestures_26</string>
<key>[Shaka1@2x]</key>
<string>gestures_27</string>
<key>[Shaka2@2x]</key>
<string>gestures_28</string>
<key>[Shaka3@2x]</key>
<string>gestures_29</string>
<key>[Shocker1@2x]</key>
<string>gestures_30</string>
<key>[Shocker2@2x]</key>
<string>gestures_31</string>
<key>[Shocker3@2x]</key>
<string>gestures_32</string>
<key>[ThumbsDown1@2x]</key>
<string>gestures_33</string>
<key>[ThumbsDown2@2x]</key>
<string>gestures_34</string>
<key>[ThumbsDown3@2x]</key>
<string>gestures_35</string>
<key>[ThumbsUp1@2x]</key>
<string>gestures_36</string>
<key>[ThumbsUp2@2x]</key>
<string>gestures_37</string>
<key>[ThumbsUp3@2x]</key>
<string>gestures_38</string>
<key>[VulcanSalute1@2x]</key>
<string>gestures_39</string>
<key>[VulcanSalute2@2x]</key>
<string>gestures_40</string>
<key>[VulcanSalute3@2x]</key>
<string>gestures_41</string>
</dict>
</plist>
