<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

<dict>
	<key>[3DGlasses]</key>
	<string>object_0</string>
</dict>

<dict>
	<key>[8Ball]</key>
	<string>object_1</string>
</dict>

<dict>
	<key>[Anchor]</key>
	<string>object_2</string>
</dict>

<dict>
	<key>[Axe]</key>
	<string>object_3</string>
</dict>

<dict>
	<key>[Balloons]</key>
	<string>object_4</string>
</dict>

<dict>
	<key>[Bandaid]</key>
	<string>object_5</string>
</dict>

<dict>
	<key>[Beaker]</key>
	<string>object_6</string>
</dict>

<dict>
	<key>[Beard]</key>
	<string>object_7</string>
</dict>

<dict>
	<key>[Bell]</key>
	<string>object_8</string>
</dict>

<dict>
	<key>[Bikini]</key>
	<string>object_9</string>
</dict>

<dict>
	<key>[Bitcoin]</key>
	<string>object_10</string>
</dict>

<dict>
	<key>[BlowDryer]</key>
	<string>object_11</string>
</dict>

<dict>
	<key>[Bomb]</key>
	<string>object_12</string>
</dict>

<dict>
	<key>[Book]</key>
	<string>object_13</string>
</dict>

<dict>
	<key>[Boombox]</key>
	<string>object_14</string>
</dict>

<dict>
	<key>[BowandArrow]</key>
	<string>object_15</string>
</dict>

<dict>
	<key>[Cake]</key>
	<string>object_16</string>
</dict>

<dict>
	<key>[Calculator]</key>
	<string>object_17</string>
</dict>

<dict>
	<key>[Calendar]</key>
	<string>object_18</string>
</dict>

<dict>
	<key>[Call]</key>
	<string>object_19</string>
</dict>

<dict>
	<key>[Celebration]</key>
	<string>object_20</string>
</dict>

<dict>
	<key>[Clock]</key>
	<string>object_21</string>
</dict>

<dict>
	<key>[Comb]</key>
	<string>object_22</string>
</dict>

<dict>
	<key>[CowboyHat]</key>
	<string>object_23</string>
</dict>

<dict>
	<key>[Cross]</key>
	<string>object_24</string>
</dict>

<dict>
	<key>[Crown]</key>
	<string>object_25</string>
</dict>

<dict>
	<key>[Desktop]</key>
	<string>object_26</string>
</dict>

<dict>
	<key>[Diamond]</key>
	<string>object_27</string>
</dict>

<dict>
	<key>[DiscoBall]</key>
	<string>object_28</string>
</dict>

<dict>
	<key>[Drill]</key>
	<string>object_29</string>
</dict>

<dict>
	<key>[DuctTape]</key>
	<string>object_30</string>
</dict>

<dict>
	<key>[Fart]</key>
	<string>object_31</string>
</dict>

<dict>
	<key>[Firework]</key>
	<string>object_32</string>
</dict>

<dict>
	<key>[FlipFlops]</key>
	<string>object_33</string>
</dict>

<dict>
	<key>[Gameboy]</key>
	<string>object_34</string>
</dict>

<dict>
	<key>[Glasses]</key>
	<string>object_35</string>
</dict>

<dict>
	<key>[Gun]</key>
	<string>object_36</string>
</dict>

<dict>
	<key>[Hammer]</key>
	<string>object_37</string>
</dict>

<dict>
	<key>[Handbag]</key>
	<string>object_38</string>
</dict>

<dict>
	<key>[Handcuffs]</key>
	<string>object_39</string>
</dict>

<dict>
	<key>[Headphones]</key>
	<string>object_40</string>
</dict>

<dict>
	<key>[Heart]</key>
	<string>object_41</string>
</dict>

<dict>
	<key>[Hoody]</key>
	<string>object_42</string>
</dict>

<dict>
	<key>[Horseshoe]</key>
	<string>object_43</string>
</dict>

<dict>
	<key>[JetPack]</key>
	<string>object_44</string>
</dict>

<dict>
	<key>[Keys]</key>
	<string>object_45</string>
</dict>

<dict>
	<key>[Knuckles]</key>
	<string>object_46</string>
</dict>

<dict>
	<key>[Laptop]</key>
	<string>object_47</string>
</dict>

<dict>
	<key>[LaserGun]</key>
	<string>object_48</string>
</dict>

<dict>
	<key>[Lightbulb]</key>
	<string>object_49</string>
</dict>

<dict>
	<key>[Lighter]</key>
	<string>object_50</string>
</dict>

<dict>
	<key>[LightSaber]</key>
	<string>object_51</string>
</dict>

<dict>
	<key>[Lips]</key>
	<string>object_52</string>
</dict>

<dict>
	<key>[Lipstick]</key>
	<string>object_53</string>
</dict>

<dict>
	<key>[MagicWand]</key>
	<string>object_54</string>
</dict>

<dict>
	<key>[MagnifyingGlass]</key>
	<string>object_55</string>
</dict>

<dict>
	<key>[Mail]</key>
	<string>object_56</string>
</dict>

<dict>
	<key>[Mailbox]</key>
	<string>object_57</string>
</dict>

<dict>
	<key>[MeasuringTape]</key>
	<string>object_58</string>
</dict>

<dict>
	<key>[Microscope]</key>
	<string>object_59</string>
</dict>

<dict>
	<key>[MobilePhone1]</key>
	<string>object_60</string>
</dict>

<dict>
	<key>[MobilePhone2]</key>
	<string>object_61</string>
</dict>

<dict>
	<key>[MoneyBags]</key>
	<string>object_62</string>
</dict>

<dict>
	<key>[MoneyClip]</key>
	<string>object_63</string>
</dict>

<dict>
	<key>[Mustache]</key>
	<string>object_64</string>
</dict>

<dict>
	<key>[NerfGun]</key>
	<string>object_65</string>
</dict>

<dict>
	<key>[Netflix]</key>
	<string>object_66</string>
</dict>

<dict>
	<key>[Newspaper]</key>
	<string>object_67</string>
</dict>

<dict>
	<key>[NintendoController]</key>
	<string>object_68</string>
</dict>

<dict>
	<key>[Pacifier]</key>
	<string>object_69</string>
</dict>

<dict>
	<key>[PaintBrush]</key>
	<string>object_70</string>
</dict>

<dict>
	<key>[PartyHat]</key>
	<string>object_71</string>
</dict>

<dict>
	<key>[Pencil]</key>
	<string>object_72</string>
</dict>

<dict>
	<key>[Perfume]</key>
	<string>object_73</string>
</dict>

<dict>
	<key>[PiggyBank]</key>
	<string>object_74</string>
</dict>

<dict>
	<key>[Pills]</key>
	<string>object_75</string>
</dict>

<dict>
	<key>[PimpHat]</key>
	<string>object_76</string>
</dict>

<dict>
	<key>[Pipe]</key>
	<string>object_77</string>
</dict>

<dict>
	<key>[Poop]</key>
	<string>object_78</string>
</dict>

<dict>
	<key>[Potion]</key>
	<string>object_79</string>
</dict>

<dict>
	<key>[Present]</key>
	<string>object_80</string>
</dict>

<dict>
	<key>[Printer]</key>
	<string>object_81</string>
</dict>

<dict>
	<key>[Record]</key>
	<string>object_82</string>
</dict>

<dict>
	<key>[Ring]</key>
	<string>object_83</string>
</dict>

<dict>
	<key>[RubberDucky]</key>
	<string>object_84</string>
</dict>

<dict>
	<key>[Safe]</key>
	<string>object_85</string>
</dict>

<dict>
	<key>[Science]</key>
	<string>object_86</string>
</dict>

<dict>
	<key>[Scissors]</key>
	<string>object_87</string>
</dict>

<dict>
	<key>[Shield]</key>
	<string>object_88</string>
</dict>

<dict>
	<key>[ShoppingBag]</key>
	<string>object_89</string>
</dict>

<dict>
	<key>[Shorts]</key>
	<string>object_90</string>
</dict>

<dict>
	<key>[Shovel]</key>
	<string>object_91</string>
</dict>

<dict>
	<key>[Sombrero]</key>
	<string>object_92</string>
</dict>

<dict>
	<key>[SportBra]</key>
	<string>object_93</string>
</dict>

<dict>
	<key>[SquirtGun]</key>
	<string>object_94</string>
</dict>

<dict>
	<key>[Stroller]</key>
	<string>object_95</string>
</dict>

<dict>
	<key>[Sword]</key>
	<string>object_96</string>
</dict>

<dict>
	<key>[Tablet]</key>
	<string>object_97</string>
</dict>

<dict>
	<key>[Tanktop]</key>
	<string>object_98</string>
</dict>

<dict>
	<key>[ToiletPaper]</key>
	<string>object_99</string>
</dict>

<dict>
	<key>[Tools]</key>
	<string>object_100</string>
</dict>

<dict>
	<key>[Toothbrush]</key>
	<string>object_101</string>
</dict>

<dict>
	<key>[TreasureChest]</key>
	<string>object_102</string>
</dict>

<dict>
	<key>[Turntables]</key>
	<string>object_103</string>
</dict>

<dict>
	<key>[TV]</key>
	<string>object_104</string>
</dict>

<dict>
	<key>[Umbrella]</key>
	<string>object_105</string>
</dict>

<dict>
    <key>[Vape]</key>
    <string>object_106</string>
</dict>

<dict>
	<key>[VideoGameController]</key>
	<string>object_107</string>
</dict>

<dict>
	<key>[Wallet]</key>
	<string>object_108</string>
</dict>

<dict>
	<key>[Watch]</key>
	<string>object_109</string>
</dict>

<dict>
	<key>[Yarn]</key>
	<string>object_110</string>
</dict>

<dict>
	<key>[YogaPants]</key>
	<string>object_111</string>
</dict>

</array>
</plist>

