<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>[3DGlasses@2x]</key>
<string>object_0</string>
<key>[8Ball@2x]</key>
<string>object_1</string>
<key>[Anchor@2x]</key>
<string>object_2</string>
<key>[Axe@2x]</key>
<string>object_3</string>
<key>[Balloons@2x]</key>
<string>object_4</string>
<key>[Bandaid@2x]</key>
<string>object_5</string>
<key>[Beaker@2x]</key>
<string>object_6</string>
<key>[Beard@2x]</key>
<string>object_7</string>
<key>[Bell@2x]</key>
<string>object_8</string>
<key>[Bikini@2x]</key>
<string>object_9</string>
<key>[Bitcoin@2x]</key>
<string>object_10</string>
<key>[BlowDryer@2x]</key>
<string>object_11</string>
<key>[Bomb@2x]</key>
<string>object_12</string>
<key>[Book@2x]</key>
<string>object_13</string>
<key>[Boombox@2x]</key>
<string>object_14</string>
<key>[BowandArrow@2x]</key>
<string>object_15</string>
<key>[Cake@2x]</key>
<string>object_16</string>
<key>[Calculator@2x]</key>
<string>object_17</string>
<key>[Calendar@2x]</key>
<string>object_18</string>
<key>[Call@2x]</key>
<string>object_19</string>
<key>[Celebration@2x]</key>
<string>object_20</string>
<key>[Clock@2x]</key>
<string>object_21</string>
<key>[Comb@2x]</key>
<string>object_22</string>
<key>[CowboyHat@2x]</key>
<string>object_23</string>
<key>[Cross@2x]</key>
<string>object_24</string>
<key>[Crown@2x]</key>
<string>object_25</string>
<key>[Desktop@2x]</key>
<string>object_26</string>
<key>[Diamond@2x]</key>
<string>object_27</string>
<key>[DiscoBall@2x]</key>
<string>object_28</string>
<key>[Drill@2x]</key>
<string>object_29</string>
<key>[DuctTape@2x]</key>
<string>object_30</string>
<key>[Fart@2x]</key>
<string>object_31</string>
<key>[Firework@2x]</key>
<string>object_32</string>
<key>[FlipFlops@2x]</key>
<string>object_33</string>
<key>[Gameboy@2x]</key>
<string>object_34</string>
<key>[Glasses@2x]</key>
<string>object_35</string>
<key>[Gun@2x]</key>
<string>object_36</string>
<key>[Hammer@2x]</key>
<string>object_37</string>
<key>[Handbag@2x]</key>
<string>object_38</string>
<key>[Handcuffs@2x]</key>
<string>object_39</string>
<key>[Headphones@2x]</key>
<string>object_40</string>
<key>[Heart@2x]</key>
<string>object_41</string>
<key>[Hoody@2x]</key>
<string>object_42</string>
<key>[Horseshoe@2x]</key>
<string>object_43</string>
<key>[JetPack@2x]</key>
<string>object_44</string>
<key>[Keys@2x]</key>
<string>object_45</string>
<key>[Knuckles@2x]</key>
<string>object_46</string>
<key>[Laptop@2x]</key>
<string>object_47</string>
<key>[LaserGun@2x]</key>
<string>object_48</string>
<key>[Lightbulb@2x]</key>
<string>object_49</string>
<key>[Lighter@2x]</key>
<string>object_50</string>
<key>[LightSaber@2x]</key>
<string>object_51</string>
<key>[Lips@2x]</key>
<string>object_52</string>
<key>[Lipstick@2x]</key>
<string>object_53</string>
<key>[MagicWand@2x]</key>
<string>object_54</string>
<key>[MagnifyingGlass@2x]</key>
<string>object_55</string>
<key>[Mail@2x]</key>
<string>object_56</string>
<key>[Mailbox@2x]</key>
<string>object_57</string>
<key>[MeasuringTape@2x]</key>
<string>object_58</string>
<key>[Microscope@2x]</key>
<string>object_59</string>
<key>[MobilePhone1@2x]</key>
<string>object_60</string>
<key>[MobilePhone2@2x]</key>
<string>object_61</string>
<key>[MoneyBags@2x]</key>
<string>object_62</string>
<key>[MoneyClip@2x]</key>
<string>object_63</string>
<key>[Mustache@2x]</key>
<string>object_64</string>
<key>[NerfGun@2x]</key>
<string>object_65</string>
<key>[Netflix@2x]</key>
<string>object_66</string>
<key>[Newspaper@2x]</key>
<string>object_67</string>
<key>[NintendoController@2x]</key>
<string>object_68</string>
<key>[Pacifier@2x]</key>
<string>object_69</string>
<key>[PaintBrush@2x]</key>
<string>object_70</string>
<key>[PartyHat@2x]</key>
<string>object_71</string>
<key>[Pencil@2x]</key>
<string>object_72</string>
<key>[Perfume@2x]</key>
<string>object_73</string>
<key>[PiggyBank@2x]</key>
<string>object_74</string>
<key>[Pills@2x]</key>
<string>object_75</string>
<key>[PimpHat@2x]</key>
<string>object_76</string>
<key>[Pipe@2x]</key>
<string>object_77</string>
<key>[Poop@2x]</key>
<string>object_78</string>
<key>[Potion@2x]</key>
<string>object_79</string>
<key>[Present@2x]</key>
<string>object_80</string>
<key>[Printer@2x]</key>
<string>object_81</string>
<key>[Record@2x]</key>
<string>object_82</string>
<key>[Ring@2x]</key>
<string>object_83</string>
<key>[RubberDucky@2x]</key>
<string>object_84</string>
<key>[Safe@2x]</key>
<string>object_85</string>
<key>[Science@2x]</key>
<string>object_86</string>
<key>[Scissors@2x]</key>
<string>object_87</string>
<key>[Shield@2x]</key>
<string>object_88</string>
<key>[ShoppingBag@2x]</key>
<string>object_89</string>
<key>[Shorts@2x]</key>
<string>object_90</string>
<key>[Shovel@2x]</key>
<string>object_91</string>
<key>[Sombrero@2x]</key>
<string>object_92</string>
<key>[SportBra@2x]</key>
<string>object_93</string>
<key>[SquirtGun@2x]</key>
<string>object_94</string>
<key>[Stroller@2x]</key>
<string>object_95</string>
<key>[Sword@2x]</key>
<string>object_96</string>
<key>[Tablet@2x]</key>
<string>object_97</string>
<key>[Tanktop@2x]</key>
<string>object_98</string>
<key>[ToiletPaper@2x]</key>
<string>object_99</string>
<key>[Tools@2x]</key>
<string>object_100</string>
<key>[Toothbrush@2x]</key>
<string>object_101</string>
<key>[TreasureChest@2x]</key>
<string>object_102</string>
<key>[Turntables@2x]</key>
<string>object_103</string>
<key>[TV@2x]</key>
<string>object_104</string>
<key>[Umbrella@2x]</key>
<string>object_105</string>
<key>[VideoGameController@2x]</key>
<string>object_106</string>
<key>[Wallet@2x]</key>
<string>object_107</string>
<key>[Watch@2x]</key>
<string>object_108</string>
<key>[Yarn@2x]</key>
<string>object_109</string>
<key>[YogaPants@2x]</key>
<string>object_110</string>
</dict>
</plist>
