<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>[Airplane@2x]</key>
<string>travel_0</string>
<key>[AirplaneTickets@2x]</key>
<string>travel_1</string>
<key>[Ambulance@2x]</key>
<string>travel_2</string>
<key>[Backpack@2x]</key>
<string>travel_3</string>
<key>[Bike@2x]</key>
<string>travel_4</string>
<key>[Binoculars@2x]</key>
<string>travel_5</string>
<key>[Boat@2x]</key>
<string>travel_6</string>
<key>[Bridge@2x]</key>
<string>travel_7</string>
<key>[Bus@2x]</key>
<string>travel_8</string>
<key>[Car@2x]</key>
<string>travel_9</string>
<key>[Compass@2x]</key>
<string>travel_10</string>
<key>[FireTruck@2x]</key>
<string>travel_11</string>
<key>[FuelPump@2x]</key>
<string>travel_12</string>
<key>[Globe@2x]</key>
<string>travel_13</string>
<key>[Helicopter@2x]</key>
<string>travel_14</string>
<key>[HikingBoot@2x]</key>
<string>travel_15</string>
<key>[HotAirBaloon@2x]</key>
<string>travel_16</string>
<key>[Hotel@2x]</key>
<string>travel_17</string>
<key>[HotelRoom@2x]</key>
<string>travel_18</string>
<key>[House@2x]</key>
<string>travel_19</string>
<key>[Limo@2x]</key>
<string>travel_20</string>
<key>[LocationPin@2x]</key>
<string>travel_21</string>
<key>[Luggage@2x]</key>
<string>travel_22</string>
<key>[Map1@2x]</key>
<string>travel_23</string>
<key>[Map2@2x]</key>
<string>travel_24</string>
<key>[Moped@2x]</key>
<string>travel_25</string>
<key>[Motorcycle@2x]</key>
<string>travel_26</string>
<key>[OffRoadVehicle@2x]</key>
<string>travel_27</string>
<key>[Parking@2x]</key>
<string>travel_28</string>
<key>[Passport@2x]</key>
<string>travel_29</string>
<key>[PoliceCar@2x]</key>
<string>travel_30</string>
<key>[RocketShip@2x]</key>
<string>travel_31</string>
<key>[RV@2x]</key>
<string>travel_32</string>
<key>[SailBoat@2x]</key>
<string>travel_33</string>
<key>[SchoolBus@2x]</key>
<string>travel_34</string>
<key>[SLRCamera@2x]</key>
<string>travel_35</string>
<key>[Sportscar@2x]</key>
<string>travel_36</string>
<key>[SteeringWheel@2x]</key>
<string>travel_37</string>
<key>[Submarine@2x]</key>
<string>travel_38</string>
<key>[Suitcase@2x]</key>
<string>travel_39</string>
<key>[SurfVan@2x]</key>
<string>travel_40</string>
<key>[Taxi@2x]</key>
<string>travel_41</string>
<key>[TowTruck@2x]</key>
<string>travel_42</string>
<key>[TrafficCone@2x]</key>
<string>travel_43</string>
<key>[TrafficLight@2x]</key>
<string>travel_44</string>
<key>[Train@2x]</key>
<string>travel_45</string>
<key>[Truck@2x]</key>
<string>travel_46</string>
<key>[TSA@2x]</key>
<string>travel_47</string>
<key>[Vacation@2x]</key>
<string>travel_48</string>
</dict>
</plist>
